<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Barcode_Tiger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Barcode_Tiger.Properties.Settings>
            <setting name="Barcode_Train1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Barcode_Train2" serializeAs="String">
                <value />
            </setting>
            <setting name="Barcode_Train3" serializeAs="String">
                <value />
            </setting>
            <setting name="COM_Scanner1" serializeAs="String">
                <value />
            </setting>
            <setting name="COM_Scanner2" serializeAs="String">
                <value />
            </setting>
            <setting name="COM_Scanner3" serializeAs="String">
                <value />
            </setting>
            <setting name="COM_Scanner4" serializeAs="String">
                <value />
            </setting>
            <setting name="COM_Scanner5" serializeAs="String">
                <value />
            </setting>
            <setting name="COM_Scanner6" serializeAs="String">
                <value />
            </setting>
            <setting name="LED_Timer_on" serializeAs="String">
                <value>0</value>
            </setting>
        </Barcode_Tiger.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.Core" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.5.1" newVersion="1.11.5.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>